######################
# Codigos compilados
######################
*.com
*.class
*.dll
*.exe
*.o
*.so

######################
# Diretorios
######################
dist/
build/
tmp/

######################
# Pacotes
######################
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

######################
# Logs
######################
*.log

######################
# Arquivos do SO
######################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

######################
# Latex
######################
*.aux
*.acn
*.acr
*.alg
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.glg
*.gls
*.glo
*.ist
*.lof
*.log
*.lot
*.slg
*.slo
*.sls
*.synctex.gz
*.toc

*.pdf
